In [43]:
import pandas as pd
import numpy as np
import scipy as sc
import seaborn as sns
import matplotlib.pyplot as plt

In [44]:
#read csv(s)
movies_df = pd.read_csv("dataset/small_dataset/movies_full_2.csv")
ratings_df = pd.read_csv("dataset/small_dataset/ratings.csv")
tags_df = pd.read_csv("dataset/small_dataset/tags.csv")
links_df = pd.read_csv("dataset/small_dataset/links.csv")

In [45]:
#drop timestamp as it is only consuming memory
ratings_df.drop('timestamp', axis=1, inplace=True)
tags_df.drop('timestamp', axis=1, inplace=True)
#movies_df.drop(columns=(['imdbId', 'url', 'titleLower']), inplace=True)

In [46]:


# movies_2 = movies_df.copy()




# movies_df['genres'] = movies_df['genres'].str.split('|')
# movies_df['genres'] = movies_df['genres'].apply(lambda x: ', '.join(x)) 
# # genres_encoded = movies_df['genres'].str.get_dummies(sep='|')
# # movies_df['year'] = movies_df['title'].str.extract('\((\d{4})\)')


# # movies_df['year'] = movies_df['year'].astype(int)
# movies_df['decade'] = (movies_df['year'] // 10) * 10

# movies_df['title'].replace('\((\d{4})\)', '', regex=True, inplace=True)
# movies_df.head()


# # Flatten the list of genres
# movies_2['genres'] = movies_2['genres'].str.split('|')
# all_genres = [genre for sublist in movies_2['genres'] for genre in sublist]

# # Extract unique genres
# unique_genres = list(set(all_genres))

# # Sort the unique genres for better readability (optional)
# unique_genres.sort()

# # Display the unique genres
# # print(unique_genres)

# del all_genres
# del movies_2



# # print(len(unique_genres))

In [47]:
movies_rating_user_df = pd.merge(movies_df, ratings_df, on="movieId", how="inner")
movies_rating_user_df.head()

,movieId,title,genres,imdbId,year,url,titleLower,userId,rating
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,tt0114709,1995.0,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,toy story,1,4.0
1,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,tt0114709,1995.0,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,toy story,5,4.0
2,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,tt0114709,1995.0,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,toy story,7,4.5
3,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,tt0114709,1995.0,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,toy story,15,2.5
4,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,tt0114709,1995.0,https://m.media-amazon.com/images/M/MV5BMDU2ZW...,toy story,17,4.5

In [48]:

movies_rating_df = movies_rating_user_df[['movieId', 'title', 'rating', 'genres']].groupby(['movieId', 'title', 'genres'])['rating'].agg(['count', 'mean']).round(1)
movies_rating_df.head()

,,,count,mean
movieId,title,genres,,
1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,215,3.9
2,Jumanji,Adventure|Children|Fantasy,110,3.4
3,Grumpier Old Men,Comedy|Romance,52,3.3
4,Waiting to Exhale,Comedy|Drama|Romance,7,2.4
5,Father of the Bride Part II,Comedy,49,3.1

In [49]:
movies_rating_df.sort_values('count', ascending=False, inplace=True)
movies_rating_df.rename(columns={'count' : 'Num_ratings', 'mean': 'Average_rating'}, inplace=True)
movies_rating_df.head(15)

,,,Num_ratings,Average_rating
movieId,title,genres,,
356,Forrest Gump,Comedy|Drama|Romance|War,329,4.2
318,"Shawshank Redemption, The",Crime|Drama,317,4.4
296,Pulp Fiction,Comedy|Crime|Drama|Thriller,307,4.2
593,"Silence of the Lambs, The",Crime|Horror|Thriller,279,4.2
2571,"Matrix, The",Action|Sci-Fi|Thriller,278,4.2
260,Star Wars: Episode IV - A New Hope,Action|Adventure|Sci-Fi,251,4.2
480,Jurassic Park,Action|Adventure|Sci-Fi|Thriller,238,3.8
110,Braveheart,Action|Drama|War,237,4.0
589,Terminator 2: Judgment Day,Action|Sci-Fi,224,4.0
527,Schindler's List,Drama|War,220,4.2
2959,Fight Club,Action|Crime|Drama|Thriller,218,4.3
1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,215,3.9
1196,Star Wars: Episode V - The Empire Strikes Back,Action|Adventure|Sci-Fi,211,4.2
50,"Usual Suspects, The",Crime|Mystery|Thriller,204,4.2
2858,American Beauty,Drama|Romance,204,4.1

In [50]:
#let's use the beysian average to calculate a more accurate rating
#this is because a review of 5 with only 1 review is worthless, while a 4.2 with multiple reviews is more reliable

def calculate_weighted_rating(df, C, m):
    """
    Calculate Bayesian weighted rating for each movie in the DataFrame.

    Parameters:
    df (DataFrame): DataFrame containing movie ratings.
    C (float): Average rating across all movies (prior assumption).
    m (int): Minimum number of ratings required to be considered.

    Returns:
    DataFrame: DataFrame with Bayesian weighted rating column added.
    """
    
    # Add the Bayesian weighted rating as a new column in the DataFrame
    df['Bayesian_rating'] = (df['Num_ratings'] / (df['Num_ratings'] + m)) * df['Average_rating'] + (m / (df['Num_ratings'] + m)) * C

    return df

C = round(ratings_df['rating'].mean(), 2)
movies_rating_df = calculate_weighted_rating(movies_rating_df, C, 500)
movies_rating_df.drop(columns='Average_rating', inplace=True)
movies_rating_df.sort_values(by='Bayesian_rating', ascending=False, inplace=True)
movies_rating_df.head()

,,,Num_ratings,Bayesian_rating
movieId,title,genres,,
318,"Shawshank Redemption, The",Crime|Drama,317,3.849204
356,Forrest Gump,Comedy|Drama|Romance|War,329,3.777805
296,Pulp Fiction,Comedy|Crime|Drama|Thriller,307,3.766295
593,"Silence of the Lambs, The",Crime|Horror|Thriller,279,3.750706
2571,"Matrix, The",Action|Sci-Fi|Thriller,278,3.750129

# Recommendation system

In [51]:
from scipy.sparse import csr_matrix

def create_X(df):
    """
    Generates a sparse matrix from ratings dataframe.
    
    Args:
        df: pandas dataframe containing 3 columns (userId, movieId, rating)
    
    Returns:
        X: sparse matrix
        user_mapper: dict that maps user id's to user indices
        user_inv_mapper: dict that maps user indices to user id's
        movie_mapper: dict that maps movie id's to movie indices
        movie_inv_mapper: dict that maps movie indices to movie id's
    """
    M = df['userId'].nunique()
    N = df['movieId'].nunique()

    user_mapper = dict(zip(np.unique(df["userId"]), list(range(M))))
    movie_mapper = dict(zip(np.unique(df["movieId"]), list(range(N))))
    
    user_inv_mapper = dict(zip(list(range(M)), np.unique(df["userId"])))
    movie_inv_mapper = dict(zip(list(range(N)), np.unique(df["movieId"])))
    
    user_index = [user_mapper[i] for i in df['userId']]
    item_index = [movie_mapper[i] for i in df['movieId']]

    X = csr_matrix((df["rating"], (user_index,item_index)), shape=(M,N))
    
    return X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper

X, user_mapper, movie_mapper, user_inv_mapper, movie_inv_mapper = create_X(ratings_df)

## k-nn

In [52]:
from sklearn.neighbors import NearestNeighbors

def find_similar_movies(movie_id, X, movie_mapper, movie_inv_mapper, k, metric='cosine'):
    """
    Finds k-nearest neighbours for a given movie id.
    
    Args:
        movie_id: id of the movie of interest
        X: user-item utility matrix
        k: number of similar movies to retrieve
        metric: distance metric for kNN calculations
    
    Output: returns list of k similar movie ID's
    """
    X = X.T
    neighbour_ids = []
    
    movie_ind = movie_mapper[movie_id]
    movie_vec = X[movie_ind]
    if isinstance(movie_vec, (np.ndarray)):
        movie_vec = movie_vec.reshape(1,-1)
    # use k+1 since kNN output includes the movieId of interest
    kNN = NearestNeighbors(n_neighbors=k+1, algorithm="brute", metric=metric)
    kNN.fit(X)
    neighbour = kNN.kneighbors(movie_vec, return_distance=False)
    for i in range(0,k):
        n = neighbour.item(i)
        neighbour_ids.append(movie_inv_mapper[n])
    neighbour_ids.pop(0)
    return neighbour_ids

In [53]:
similar_movies = find_similar_movies(1, X, movie_mapper, movie_inv_mapper, k=10)
similar_movies

[3114, 480, 780, 260, 356, 364, 1210, 648, 1265]

In [54]:
movie_titles = dict(zip(movies_df['movieId'], movies_df['title']))

movie_id = 1

similar_movies = find_similar_movies(movie_id, X, movie_mapper, movie_inv_mapper, metric='cosine', k=10)
movie_title = movie_titles[movie_id]

print(f"Because you watched {movie_title}:")
for i in similar_movies:
    print(movie_titles[i])

Because you watched Toy Story:
Toy Story 2
Jurassic Park
Independence Day (a.k.a. ID4)
Star Wars: Episode IV - A New Hope
Forrest Gump
Lion King, The
Star Wars: Episode VI - Return of the Jedi
Mission: Impossible
Groundhog Day

In [55]:
n_movies = movies_df['movieId'].nunique()
print(f"There are {n_movies} unique movies in our movies dataset.")
movies_df['genres'] = movies_df['genres'].apply(lambda x: x.split("|"))
movies_df.drop(columns=['imdbId', 'titleLower', 'year', 'url'], inplace=True)

genres = set(g for G in movies_df['genres'] for g in G)

for g in genres:
    movies_df[g] = movies_df.genres.transform(lambda x: int(g in x))
    
    
movie_genres = movies_df.drop(columns=['movieId', 'title','genres'])
movie_genres.head()
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(movie_genres, movie_genres)
print(f"Dimensions of our genres cosine similarity matrix: {cosine_sim.shape}")

There are 9454 unique movies in our movies dataset.
Dimensions of our genres cosine similarity matrix: (9454, 9454)

In [56]:
print(movie_genres.columns)

Index(['Action', 'Romance', 'Musical', 'Fantasy', 'War', 'Thriller', 'Sci-Fi',
       'Mystery', 'IMAX', 'Comedy', '(no genres listed)', 'Animation',
       'Horror', 'Western', 'Drama', 'Adventure', 'Crime', 'Film-Noir',
       'Children', 'Documentary'],
      dtype='object')

In [57]:
from fuzzywuzzy import process

def movie_finder(title):
    all_titles = movies_df['title'].tolist()
    closest_match = process.extractOne(title, all_titles)
    return closest_match[0]

c:\Users\Jo√£o\AppData\Local\Programs\Python\Python311\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [58]:
title = movie_finder('jumanji')
title

'Jumanji'

In [59]:
movie_idx = dict(zip(movies_df['title'], list(movies_df.index)))
idx = movie_idx[title]
print(f"Movie index for Jumanji: {idx}")

Movie index for Jumanji: 1

In [60]:
n_recommendations=10
sim_scores = list(enumerate(cosine_sim[idx]))
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
sim_scores = sim_scores[1:(n_recommendations+1)]
similar_movies = [i[0] for i in sim_scores]

In [61]:
print(f"Because you watched {title}:")
movies_df['title'].iloc[similar_movies]

Because you watched Jumanji:

53                            Indian in the Cupboard, The
109                            NeverEnding Story III, The
765                              Escape to Witch Mountain
1511                   Darby O'Gill and the Little People
1552                                         Return to Oz
1613                               NeverEnding Story, The
1614          NeverEnding Story II: The Next Chapter, The
1795                               Santa Claus: The Movie
3568    Harry Potter and the Sorcerer's Stone (a.k.a. ...
6007    Chronicles of Narnia: The Lion, the Witch and ...
Name: title, dtype: object

In [62]:
def get_content_based_recommendations(title_string, n_recommendations=10):
    title = movie_finder(title_string)
    idx = movie_idx[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:(n_recommendations+1)]
    similar_movies = [i[0] for i in sim_scores]
    print(f"Because you watched {title}:")
    print(movies_df['title'].iloc[similar_movies])
get_content_based_recommendations('toy story', 5)

Because you watched Toy Story:
1702                                       Antz
2351                                Toy Story 2
2803    Adventures of Rocky and Bullwinkle, The
2994                  Emperor's New Groove, The
3562                             Monsters, Inc.
Name: title, dtype: object

## Matrix factorization

In [63]:
from sklearn.decomposition import TruncatedSVD

svd = TruncatedSVD(n_components=20, n_iter=10)
Q = svd.fit_transform(X.T)
Q.shape

(9724, 20)

In [64]:
movie_id = 1
similar_movies = find_similar_movies(movie_id, Q.T, movie_mapper, movie_inv_mapper, metric='cosine', k=10)
movie_title = movie_titles[movie_id]

print(f"Because you watched {movie_title}:")
for i in similar_movies:
    print(movie_titles[i])

Because you watched Toy Story:
Home Alone
Jurassic Park
Aladdin
Willy Wonka & the Chocolate Factory
Back to the Future
Groundhog Day
Forrest Gump
Star Wars: Episode IV - A New Hope
Princess Bride, The