In [23]:
import pandas as pd
df_movie = pd.read_csv('./dataset/movies.csv')
df_links = pd.read_csv('./dataset/links.csv')

# Filter the DataFrame to include only rows where the 'year' column has values below 1900
merged_df = pd.merge(df_movie, df_links[['movieId', 'imdbId']], on='movieId', how='inner')

# Display the merged DataFrame
print(merged_df)

# Display the counts
print(a)

imdb
tt7131622    23
tt1172994    14
tt0808399    13
tt0167260    12
tt0087799    11
             ..
tt0097335     1
tt2459100     1
tt1937118     1
tt2395385     1
tt0055323     1
Name: count, Length: 56898, dtype: int64